name: suppress_soft_keyboard_focus_node
description: "A Flutter plugin that prevents the soft keyboard from appearing when a widget gains focus."
version: 0.0.1
homepage: https://github.com/yalong0521/suppress_soft_keyboard_focus_node

environment:
  sdk: '>=3.3.4 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.wyl.suppress_soft_keyboard_focus_node
        pluginClass: SuppressSoftKeyboardFocusNodePlugin
